@{
  Layout = "_Layout";
}

<h1>Dr. Sneuss Absurd Machine Repair</h1>
<h3>Officially Licensed!</h3>

<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>